---
title: 主页
description: 程序员写的杂七杂八的东西.
image: ./images/main.jpg
bottom_image: ./images/bottom.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" font-family="./font/方正启体简体.ttf">这里是姜流的世界</h1>
			<p class="subtext editable">素衣淡茶湖心坐<br>灯火阑珊等一人。</p>
			<div class="cta button alt"><a href="https://github.com/mountainmonsterhd">我的GitHub</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">更多 <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">我是姜流</h2>
				<p class="editable">欢迎你来到我的博客啊！<br>我很幸运你能够来看我写的一些简单的小东西！<br>这里主要用来记录我本科到研究生阶段所有的项目及算法思路及一些自己总结的经验，也会包含一些有趣的内容，持续更新中！</p>
			</div>
			<div class="image">
				<img class="editable" src="./images/index1.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">关于具体有什么</h2>
				<p class="editable">1.一些论文总结<br>2.一些算法思路<br>3.一些工作中遇到并解决或正在解决的问题<br>4.一些个人项目作品展示<br>5.可能还会有一些个人随笔</p>
			</div>
			<div class="image">
				<img class="editable" src="./images/index2.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">最后</h2>
				<p class="editable">我希望我的博客能够帮助自己记录工作，也能在别的人遇到困难时，提供一份方法或思路。</p>
			</div>
			<div class="image">
				<img class="editable" src="./images/index3.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">尾巴</h2>
				<p class="subtext editable">时间节奏慢一点，祝愿生活幸福！</p>
				<div class="cta button alt"><a href="https://github.com/mountainmonsterhd">我的GitHub</a></div>
			</div>
		</div>
	</section>
</div>
