---
title: 主页
description: 程序员写的杂七杂八的东西.
image: ./images/main.jpg
bottom_image: ./images/bottom.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">这里是姜流的世界</h1>
			<p class="subtext editable">素衣淡茶湖心坐<br>灯火阑珊等一人。</p>
			<div class="cta button alt"><a href="https://github.com/mountainmonsterhd">我的GitHub</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">更多 <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">我是姜流</h2>
				<p class="editable">欢迎你来到我的博客啊！<br>我很幸运你能够来看我写的一些简单的小东西！<br>这里主要用来记录我本科到研究生阶段所有的项目及算法思路及一些自己总结的经验，也会包含一些有趣的内容，持续更新中！</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">尾巴</h2>
				<p class="subtext editable">时间节奏慢一点，祝愿生活幸福！</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
