---
layout: default
---

<section class="hero" style="background-image: url(https://mountainmonsterhd.github.io/images/blog/main.jpeg)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ page.title }}</h1>
			<p class="subtext">这是一个{{ page.title }}的分类页面，包含所有{{ page.title }}类别的文章。</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="change-category">你正在浏览 <strong>{{ page.title }}</strong> 类别，你可以 <a href="{{ site.baseurl }}/blog/">点这里查看所有类别</a> 。</p>

		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
	</div>
</section>

